<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:layout="//wwww.ultraq.net.nz/thymleaf/layout" layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<h2>Liste Patients</h2>
    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">
            <form th:action="@{save}" method="post">
                <div>
                    <label>Nom</label>
                    <input class="form-control" type="text" name="nom" th:value="${patient.nom}">
                    <span class="text-danger" th:errors="${patient.nom}"></span>
                </div>
                <div>
                    <label>Date naissance</label>
                    <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
                    <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
                </div>
                <div>
                    <label>Malade</label>
                    <input type="checkbox" name="malade" th:checked="${patient.malade}">
                    <span class="text-danger" th:errors="${patient.malade}"></span>
                </div>
                <div>
                    <label>Score</label>
                    <input class="form-control" type="text" name="score" th:value="${patient.score}">
                    <span class="text-danger" th:errors="${patient.score}"></span>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</body>
</html>